<!DOCTYPE html>
<html>
    <head>
        <title>FW_{{inventory_hostname}}</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
<body>
    <center>
        <iframe src="http://{{inventory_hostname}}:{{wp_port}}" width="1920" height="1080" frameborder="20px"></iframe>
    </center>
</body>
</html>